@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Manage Accounts</h1>
    <p class="lead">Security-aware and claims-based web app, with user account management tasks.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar15/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Define more users.</p>
        <p>Login as "admin" to manage user accounts.</p>
    </div>
</div>