@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Get All Get One</h1>
    <p class="lead">Shows how to use the "get all" and "get one" tasks in a web app that has a persistent store.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/jan18/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Study the view models and the controller.</p>
        <p>Also, study the components that implement the persistent store.</p>
    </div>
</div>