@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web app project template v2 with custom database</h1>
    <p class="lead">Security-aware and claims-based web app, with persistence. Design your own data model.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar08/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this template</h2>
        <p>Includes security-aware features that we have covered recently.</p>
        <p>Role claims are defined by a design model class, and initialized during the "load data" task.</p>
        <p>This template also includes graceful error-handling. </p>
    </div>
    <div class="col-md-4">
        <h2>Do these tasks</h2>
        <p>Do the following <b>BEFORE</b> you attempt to register any new users...</p>
        <p>In the Manager class, in the LoadData() method, add the role claims that are needed in the app.</p>
    </div>
</div>